.bleu{
    background-color: white;
    border: 1px solid #41659c;
    padding: 0;
}
.abs{
    background-color: #3b5998;
    color: white;
}
.size{
    height: 5.375em;
    width: 13.750em;
}
.tablo{
    padding-left: 0;
    padding-right: 20px;
}
.buton{
    padding-right: 0;
}
.bug{
    color: white;
}
.bordernaze{
    border: none;
}
.taille{
    font-size: 12px;
    width: 171px;
    height: 68px;
}
.taille2{
    font-size: 12px;
}
header{
  background-color: orangered;
  height: 60px;
}

#dropdownMenuButton{
  background-color: white;
  color: black;
  border: none;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
